[Unit]
Description=bot_lastfm_pg_weekly.timer

[Timer]
#OnCalendar=weekly
OnCalendar=Mon *-*-* 08:30:00
Persistent=true

[Install]
WantedBy=timers.target
