[Unit]
Description=bot_lastfm_pg_yearly.service

[Service]
Type=oneshot
WorkingDirectory=%h/Documents/lastfm_pg/
# With pipenv
ExecStart=%h/Documents/lastfm_pg/.venv/bin/lastfm_pg -t 12month

[Install]
WantedBy=multi-user.target
