[Unit]
Description=lastfm_pg_weekly.service

[Service]
Type=oneshot
WorkingDirectory=%h/Documents/lastfm_pg/
# With pipenv
ExecStart=%h/Documents/lastfm_pg/.venv/bin/python lastfm_pg.py -u diyod

[Install]
WantedBy=multi-user.target
