[Unit]
Description=lastfm_pg_semiannually.service

[Service]
Type=oneshot
WorkingDirectory=%h/Documents/lastfm_pg/
# With pipenv
ExecStart=%h/Documents/lastfm_pg/.venv/bin/lastfm_pg -u diyod -t 6month

[Install]
WantedBy=multi-user.target
