[Unit]
Description=twitter_bot_lastfm_pg_monthly.service

[Service]
Type=oneshot
WorkingDirectory=%h/Documents/lastfm_pg/
# With pipenv
ExecStart=%h/Documents/lastfm_pg/.venv/bin/lastfm_pg -t 1month

[Install]
WantedBy=multi-user.target
